@model WebProgrammingHomework.Models.Customer
@{
	ViewData["Title"] = "Kayıt Ol";
}

<section class="page-section" id="contact">
	<div class="container">
		<div class="text-center">
			<h2 class="section-heading text-uppercase">Kayıt Ol</h2>
		</div>

		<form id="contactForm" asp-controller="Customer" asp-action="CreateCustomer" method="post">
			<div class="row align-items-stretch mb-5">
				<div class="col-md-6">
					<div class="form-group">
						<input asp-for="Name" class="form-control" placeholder="Adınızı giriniz" />
						<span asp-validation-for="Name" class="text-danger"></span>
					</div>
					<div class="form-group">
						<input asp-for="Surname" class="form-control" placeholder="Soyadınızı giriniz" />
						<span asp-validation-for="Surname" class="text-danger"></span>
					</div>
					<div class="form-group">
						<input asp-for="Email" class="form-control" placeholder="E-Posta adresinizi giriniz" />
						<span asp-validation-for="Email" class="text-danger"></span>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<input asp-for="Password" class="form-control" placeholder="Şifrenizi giriniz" />
						<span asp-validation-for="Password" class="text-danger"></span>
					</div>
					<div class="form-group">
						<input asp-for="Adress" class="form-control" placeholder="Adresinizi giriniz" />
						<span asp-validation-for="Adress" class="text-danger"></span>
					</div>
				</div>
			</div>

			@if (TempData["Warning"] != null)
			{
				<div class="text-center text-white mb-3">
					<div class="fw-bolder">@TempData["Warning"]</div>
				</div>
			}

			<div class="text-center"><input class="btn btn-primary btn-xl text-uppercase" id="submitButton" type="submit" value="Kaydol" /></div>
		</form>
	</div>
</section>