@model WebProgrammingHomework.Models.Server
@{
	ViewData["Title"] = "Server Güncelleme";
}

<section class="page-section" id="contact">
	<div class="container">
		<div class="text-center">
			<h2 class="section-heading text-uppercase">Server Güncelleme</h2>
		</div>

		<form id="contactForm" asp-controller="ServerController" asp-action="UpdateServer" method="post">
			<div class="row align-items-stretch mb-5">
				<div class="col-md-6">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<input type="hidden" asp-for="Id" />
					<div class="form-group">
						<!-- Name input-->
						<input asp-for="Name" class="form-control" placeholder="Ürün adını giriniz" />
						<span asp-validation-for="Name" class="text-danger"></span>
					</div>
					<div class="form-group">
						<!-- Cpu input-->
						<input asp-for="Cpu" class="form-control" placeholder="Cpu bilgisini giriniz" />
						<span asp-validation-for="Cpu" class="text-danger"></span>
					</div><div class="form-group">
						<!-- Ram input-->
						<input asp-for="Ram" class="form-control" placeholder="Ram miktarını giriniz" />
						<span asp-validation-for="Ram" class="text-danger"></span>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<!-- Disk input-->
						<input asp-for="Disk" class="form-control" placeholder="Disk miktarını giriniz" />
						<span asp-validation-for="Disk" class="text-danger"></span>
					</div>
					<div class="form-group">
						<!-- Traffic input-->
						<input asp-for="Traffic" class="form-control" placeholder="Trafik miktarını giriniz" />
						<span asp-validation-for="Traffic" class="text-danger"></span>
					</div>
					<div class="form-group">
						<!-- Price input-->
						<input asp-for="Price" class="form-control" placeholder="Fiyatı giriniz" />
						<span asp-validation-for="Price" class="text-danger"></span>
					</div>
				</div>
			</div>

			@if (TempData["Warning"] != null)
			{
				<div class="text-center text-white mb-3">
					<div class="fw-bolder">TempData.["Warning"]</div>
				</div>
			}

			<!-- Submit Button-->
			<div class="text-center"><input class="btn btn-primary btn-xl text-uppercase" id="submitButton" type="submit" value="Server'ı Güncelle" /></div>
		</form>
	</div>
</section>