@{
	ViewData["Title"] = "Hakkımızda";
}

<section class="page-section" style="padding:0px 0px 6rem 0px;">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h4>En yüksek kalitede ve en uygun fiyatlarla</h4>
				<p>Vizyonumuz, uluslararası platformda tanınan, dünya standartlarında, çagdaş, yenilikleri takip eden ve yeniliklere öncülük eden, diğer internet hizmet kuruluşları tarafından örnek alınan internet servis sağlayıcısı olmak. Yurt içinde ve yurt dışında tüm kullanıcılarımıza en yüksek kalitede ve uygun fiyat politikasıyla internet hizmeti veren, kullanıcılarımızın kendilerini güven içinde hissettikleri ve tüm beklentilerinin karşılandığı internet hizmet kurumu olmak ve bunu muhafaza etmekdir.</p>
			</div>
			<div class="col-sm-6">
				<img src="../assets/img/we-take-care-img.png">
			</div>
		</div>
	</div>
</section>

<section class="page-section" style="padding:0px 0px 6rem 0px;">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<img src="../assets/img/award-wining-supports.png">
			</div>
			<div class="col-sm-6">
				<h4>Uzman ekibimiz ile 24/7 destek</h4>
				<p>Misyonumuz, müşteri ihtiyaç ve beklentilerini en iyi şekilde anlayarak, onlara en doğru kanaldan en uygun çözüm ve değer önerilerini sunan, uygun fiyat politikası ile geniş ürün ve hizmet yelpazesini sektörün her kesimine en hızlı ve en etkin şekilde ulaştıran, etik değerlerinin ve sosyal sorumluluğunun bilincinde olarak dünya standartlarında sürdürülebilir karlılık ve verimlilikle hizmet veren, müşteri memnuniyetini her şeyden üstün tutan bir kurum olmaktır.</p>
				<ul>
					<li>Alan adı tescili, web barındırma (web hosting)</li>
					<li>Sunucu barındırma, sunucu ve sanal sunucu kiralama</li>
					<li>Veri güvenliği, mobil uygulama hizmetleri</li>
				</ul>
			</div>
		</div>
	</div>
</section>