@{
	ViewData["Title"] = "Home Page";
}

<!-- Services-->
<section class="page-section" id="services">
	<div class="container">
		<div class="text-center">
			<h2 class="section-heading text-uppercase">Neden Bizi Seçmelisiniz</h2>
			<h3 class="section-subheading text-muted">Kaliteyi uygun fiyatlar ile elde edin.</h3>
		</div>
		<div class="row text-center">
			<div class="col-md-4">
				<span class="fa-stack fa-4x">
					<i class="fas fa-circle fa-stack-2x text-primary"></i>
					<i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
				</span>
				<h4 class="my-3">Kalite ve Güvenilirlilik</h4>
				<p class="text-muted">Tüm profesyonel ihtiyaçlarınız için firmamızdan teklif alarak güvenilir ve profesyonel hizmet alabilirsiniz.</p>
			</div>
			<div class="col-md-4">
				<span class="fa-stack fa-4x">
					<i class="fas fa-circle fa-stack-2x text-primary"></i>
					<i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
				</span>
				<h4 class="my-3">7/24 Destek</h4>
				<p class="text-muted">Teknik destek hizmetlerini üstün insan kaynağı süreçleriyle yönetmekteyiz.</p>
			</div>
			<div class="col-md-4">
				<span class="fa-stack fa-4x">
					<i class="fas fa-circle fa-stack-2x text-primary"></i>
					<i class="fas fa-lock fa-stack-1x fa-inverse"></i>
				</span>
				<h4 class="my-3">Ekonomik Çözümler</h4>
				<p class="text-muted">Tüm hizmetlerde, maliyetleri müşterilerimizin faydası yönünde optimize ediyor ve ekonomik çözümler üretiyoruz.</p>
			</div>
		</div>
	</div>
</section>

<section class="page-section bg-light" id="services">
	<div class="container">
		<div class="row">
			<div class="text-center">
				<h2 class="section-heading text-uppercase">HİKAYEMİZ</h2>
			</div>
			<div class="col-sm-5"><img src="../assets/img/about-metus-left.png" alt="group of people"></div>
			<div class="col-sm-7">
				<p><span>Yenilikleri ve ürettiği internet teknolojileri ile sektöre yön veren şirketimiz, yarının teknolojilerini bugünden kullanmanıza olanak sağlar.</span></p>
				<p><span>İnternet hizmetleri faaliyetlerimiz her platformdan bizi seçen kullanıcılarımızdan sahip olduğumuz tecrübe ile bilişim sektörüne katkı sağlayan firmamız, alan adı tescili, web hosting, sunucu barındırma ve sunucu kiralama hizmetleri sağlar.</span></p>
				<ul>
					<li>Web barındırma (web hosting)</li>
					<li>Sunucu barındırma, sunucu ve sanal sunucu kiralama</li>
				</ul>
				<br />
				<a class="btn btn-primary btn-xl text-uppercase" asp-controller="Home" asp-action="About">Bizi tanıyın </a>
				<a class="btn btn-primary btn-xl text-uppercase" href="#services">Bizimle iletişişme geçin</a>
			</div>
		</div>
	</div>
</section>