@using System.Security.Claims;
<ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
	@if (User.Identity.IsAuthenticated)
	{
		<li class="nav-item"><a class="nav-link" asp-area="" title="Manage">Hello @User.Identity?.Name!</a></li>
		<li class="nav-item">
			<form class="form-inline" asp-area="Identity" asp-controller="Login" asp-action="LogOut")">
				<button type="submit" class="nav-link btn btn-link text-light">Logout</button>
			</form>
		</li>
	}
	else
	{
		<li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Customer" asp-action="CreateCustomer">Kayıt Ol</a></li>
		<li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Login" asp-action="LoginPage">Giriş Yap</a></li>
	}
</ul>

@*@(((ClaimsIdentity)User.Identity).FindFirst(ClaimTypes.Role).Value)*@
